<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <title>To Do List</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.php">LP 11 DPBO 2023 C2 ILMU KOMPUTER UNIVERSITAS PENDIDIKAN INDONESIA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid mt-5 mb-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3 class="text-center" style="background-color: #aab6c2; font-weight: bold; padding: 10px">ACTION_TITLE DATA</h3>
          <div class="border rounded p-4 shadow-sm">
            <form action="ACTION_FORM" method="post" name="pasienForm">
              <div class="form-group">
                <label for="nik">NIK</label>
                <input type="number" class="form-control" id="nik" name="nik" value="DATA_NIK" />
              </div>
              <div class="form-group">
                <label for="nama">NAMA</label>
                <input type="text" class="form-control" id="nama" name="nama" value="DATA_NAMA" />
              </div>
              <div class="form-group">
                <label for="tempat">TEMPAT</label>
                <input type="text" class="form-control" id="tempat" name="tempat" value="DATA_TEMPAT" />
              </div>
              <div class="form-group">
                <label for="tgl_lahir">TANGGAL</label>
                <input type="date" class="form-control" id="tgl_lahir" name="tgl_lahir" value="DATA_TL" />
              </div>
              <div class="form-group">
                <label for="gender">GENDER</label>
                DATA_GENDER
              </div>
              <div class="form-group">
                <label for="email">EMAIL</label>
                <input type="email" class="form-control" id="email" name="email" value="DATA_EMAIL" />
              </div>
              <div class="form-group">
                <label for="telepon">TELEPON</label>
                <input type="number" class="form-control" id="telepon" name="telepon" value="DATA_TELP" />
              </div>
              <div class="form-group">
                <input type="submit" value="submit" name="ACTION_BTN" class="btn btn-primary" />
                <a href="index.php" class="btn btn-danger">CANCEL</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
